{% extends "app/base.html" %}
{% load static %}
{% block title %}
  Home
{% endblock title %} 
{% block main-content %}
<div class="container mt-4"> 
  <div class="row">
    {% for p in product %}
    {% if p.active %}
      
    <div class="col-md-2 col-sm-3 col-4 mb-4"> 
      <div class="card product-card">
        <div class="badge-container">
          <span class="badge">In Stock</span>
        </div>
        <a href="#" class="heart-icon"><i class="fa fa-heart"></i></a> 
        <img src="{{ p.image1.url }}" class="card-img-top" alt="{{ p.name }}">
        <div class="product-card-body">
          <p class="product-brand">{{ p.brand.name }}</p>
          <h5 class="product-name">{{ p.name }}</h5>
          <div class="price">
            <div class="discount-price">
              <span class="selling-price">₹{{ p.price }}</span>
              <span class="discount-tag">{{ p.discount }}% off</span>
            </div>
            <span class="original-price"><del>₹{{ p.old_price }}</del></span>
          </div>
          <div class="action-buttons">
            <a href="#" class="btn btn-primary btn-sm">Add To Cart</a> 
            <a href="{% url 'view_product' p.id %}" class="btn btn-success btn-sm">View</a> 
          </div>
        </div>
      </div>
    </div>
    {% endif %} 
    {% endfor %}
  </div>
</div>
<style>
  .product-card {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    transition: all 0.2s ease;
    position: relative; 
  }

  .badge-container {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .badge {
    background-color: #4caf50;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #f00; 
  }

  .product-card-body {
    padding: 15px;
  }

  .product-brand {
    color: #555;
  }

  .product-name {
    font-weight: 500;
    margin-top: 5px;
  }

  .price {
    margin-top: 10px;
  }

  .discount-price {
    display: flex;
    align-items: center;
  }

  .selling-price {
    color: #E90303;
    font-size: 16px; 
  }

  .discount-tag {
    background-color: #4caf50;
    color: #fff;
    padding: 5px;
    margin-left: 5px;
  }

  .original-price {
    color: #aaa;
    text-decoration: line-through;
    margin-left: 10px;
  }

  .action-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  .btn {
    padding: 8px 16px; 
    border-radius: 5px;
  }
  
  .btn-sm {
    padding: 6px 12px; 
  }
</style>
{% endblock main-content %}
