{% extends "admin/admin_dsh.html" %}
{% block main %}
<div class="container">
    <h1>Edit Your Brand</h1>


            <form method="post" action="{% url 'edt_brand_action' %}" class="border border-dark rounded p-4" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" value="{{brand.id}}" name="id">
        <div class="form-group">
            <label for="edit_brand">Edit Brand</label>
            <input value="{{brand.title}}" type="text" name="editbrand" class="form-control" required>
        </div>

        <div class="text-right mt-3">
            <button type="submit" class="btn btn-success">Edit Brand</button>
        </div>
    </form>
</div>
{% endblock main %}
