{% extends "admin/admin_dsh.html" %}
{% block main %}
<div class="container">
    <h1>Edit Your Category</h1>


            <form method="post" action="{% url 'edt_category_action' %}" class="border border-dark rounded p-4" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" value="{{category.id}}" name="id">
        <div class="form-group">
            <label for="new_category">Edit Category</label>
            <input value="{{category.title}}" type="text" name="newcategory" class="form-control" required>
        </div>

        <div class="text-right mt-3">
            <button type="submit" class="btn btn-success">Edit Category</button>
        </div>
    </form>
</div>
{% endblock main %}
