{% extends "admin/admin_dsh.html" %}
{% block main %}
<h1>Product List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- Example product rows -->
        {% for product in products %}
          
        <tr>
            <td>{{product.title}}</td>
            <td>{{product.category}}</td>
            <td>{{product.brand}}</td>
            <td><img src="{{ product.image1.url }}" alt="{{ product.title }} Image" style="width: auto; height: 50px; "></td>
            <td>
                <!-- <a href="{% url 'edit_product' product.id %}" class="btn btn-success">Edit</a> | <a href="#" class="btn btn-success">Delete </a> | -->
                 <a href="{% url 'admin_view_product' product.id %}" class="btn btn-success">viwe </a>   
            </td>
        </tr>
        
        {% endfor %}
        <!-- Add more product rows here -->
    </tbody>
</table>
<p><a href="{% url 'add_product' %}"class=" btn btn-success">Add Product</a></p>
{% endblock main %}