{% extends "admin/admin_dsh.html" %}
{% block main %}

    <div class="container">
        <div class="row p-2">
            <div class="col-lg-6 ">
                <div class="row">
                    <div class="col-3 col-md-6 p-2">
                        <img src="{{ products.image1.url }}" style="height: 250px; width: auto; box-shadow: 0px 0px 4px rgba(0,0,0,0.5)">
                    </div>
                    <div class="col-3 col-md-6 p-2">
                        <img src="{{ products.image2.url }}" style="height: 250px; width: auto; box-shadow: 0px 0px 4px rgba(0,0,0,0.5)">
                    </div>
                    <div class="col-3 col-md-6 p-2">
                        <img src="{{ products.image3.url }}" style="height: 250px; width: auto; box-shadow: 0px 0px 4px rgba(0,0,0,0.5)">
                    </div>
                    <div class="col-3 col-md-6 p-2">
                        <img src="{{ products.image4.url }}" style="height: 250px; width: auto; box-shadow: 0px 0px 4px rgba(0,0,0,0.5)">
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <table class="table table-borderless ">
                    <tr>
                        <th>Product Name</th>
                        <td>{{ products.title }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ products.description }}</td>
                    </tr>
                    <tr>
                        <th>Brand</th>
                        <td>{{ products.brand }}</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>{{ products.category }}</td>
                    </tr>
                    <tr>
                        <th>Stock</th>
                        <td>{{ products.stock }}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>₹ {{ products.price }}</td>
                    </tr>
                    <tr>
                        <th>old Price</th>
                        <td>₹ {{ products.old_price }}</td>
                    </tr>

                </table>
                <a href="{% url 'edit_product' products.id  %}", class="btn btn-primary">Edit</a>
                <td>
                    {% if products.active %}
                        <a href="{% url 'product_action' products.id %}" class="btn btn-success"> Available</a>
                    {% else %}
                        <a href="{% url 'product_action' products.id %}" class="btn btn-danger">Not Available</a>
                    {% endif %}
                </td>
            </div>
        </div>
    </div>

{% endblock %}